<%provide :head do%>
  <%=stylesheet_link_tag 'home'%>
  <%=javascript_include_tag 'home', 'https://cdn.rawgit.com/kofon95/smartuploader/608b195f/jquery.smartuploader.min.js'
  %>
<%end%>
<%=render 'shared/social_networks_buttons'%>


<div style="background-color: rgba(0, 0, 0, 0.45); position: fixed; z-index: 2; width: 100%; height: 100%; top: 0;"></div>

<div class="slider">
  <img src="/assets/1.jpg" />
  <img src="/assets/2.jpg" />
  <img src="/assets/3.jpg" />
  <img src="/assets/4.jpg" />
  <img src="/assets/5.jpg" />
  <img src="/assets/3.jpg" />
</div>


<div class="submit-review-to-teacher">
  <div class="panel-submit-review-to-teacher">
    
    <div class="button-close-panel"><div></div></div>
    
    <div style="margin: 40px 5% 0; float: left; cursor: pointer; user-select: none; font-family: MProCond; font-size: 18px; font-weight: 400; color: #444444;">Мы просим указать ФИО учителя, которому вы хотите сказать "спасибо", чтобы мы могли связаться с ним и передать вашу благодарность.</div>
    
    <input id="visitor_name" placeholder="Представьтесь" class="name-peaple" type="text" name="">
    <input id="teacher_name" placeholder="Введите ФИО учителя или учителей" class="name-teacher" type="text" name="">
    <input id="school_name" placeholder="Укажите учебное заведение (например: СОШ №7 г. Кизилюрт)" class="name-school" type="text" name="">
    
    <div id="words-container" class="empty">
      
    
    </div>
    
<%#
    <script>
      var schoolName = document.getElementById("school_name");
      var words = document.getElementById("words-container");

      var schools = ["qwe", "asd"];
      schoolName.addEventListener("input", function(){
      
        
        if (this.value.length === 0){
          words.classList.add("empty");
          return;
        }
        words.classList.remove("empty");
      
        var foundWords = [];
        for (var i = 0; i < schools.length; i++) {
        if (schools[i].indexOf(this.value) >= 0) {
          foundWords.push(`<p class="word">${schools[i]}</p>`);
        }
        }
        words.innerHTML = foundWords.join("\n");
        if (foundWords.length === 0)
        words.classList.add("not-found");
        else
        words.classList.remove("not-found");
      });
    </script>
%>
    
    <textarea id="thank_body" placeholder="Опишите Вашу историю" name="comment" cols="40" rows="3" class="history-teacher"></textarea>
    <div id="dropzone" class="drop-zone">
      <p class="title">Выберите или перетащите сюда изображения</p>
      <div class="preview-container"></div>
    </div>
    <%=file_field_tag :file, data: {url: @s3_direct_post.url, 'form-data' => @s3_direct_post.fields, 'upload-dir' => @s3_dir_name}, id: 'images_attachment', multiple: true, style: 'display: none'%>
    
    <button id="do_thank_teacher" class="button-to-send" name="ok">Отправить</button>
  </div>
</div>

<header>
  <a href="#" class="logo"><img src="/assets/logo4.png" /></a>
  
  <div class="right-head-text">
    <div class="top-head-text">Ежегодно тысячи учеников заканчивают школу. У каждого есть своя история. Бывает, что мы не успеваем сказать учителю, как важен для нас их ежедневный труд. Для этого министерство образования начинает акцию, чтобы каждый смог поблагодарить учителя.</div>
    <div class="bottom-head-text">Поблагодарите учителя или учителей, которые помогли вам или вашим близким. Пусть это станет доброй традицией!</div>
  
  </div>
</header>

<content>
  <div class="title-thank-you">Оставьте свою благодарность на нашем сайте. Ваши теплые слова обязательно дойдут до каждого адресата.</div>
  <div class="button-thank-you">ПОБЛАГОДАРИТЬ</div>
  <div class="block-stories">
    <h2 class="title-block-stories">Истории, рассказанные участниками акции "Спасибо, учитель!"</h2>

    <%=form_tag thanks_path, method: 'get', remote: true, data: {count: @thanks.count} do%>
      <div class="filtration-block-stories">
        <input id="thanks_count" type="hidden" name="count" value="<%=HomeController::COUNT_THANKS%>">
        <input id="query_input" placeholder="Введите ФИО учителя или название учебного заведения (например: СОШ №7 г. Кизилюрт)" class="inp-block-stories" type="text" name="q" id="search_thanks">
        <button id="do_search" name="search" style="display:none">Искать</button>
        <div class="counter"><div id="found_thanks_count" class="text-counter"><%=t(:have_said_thanks_html, count: @thanks_count)%></div></div>
      </div>
      
      <div class="items-block-stories">
        <!-- tmp container -->
        <!-- dynamic style: visibility: hidden;position: absolute; -->
        <div id="invisibility_thanks_container" class="one-block-stories" >
          <%=render partial: 'thanks/thank', collection: @thanks, as: :thank %>
        </div>
        <div class="two-blocks-stories">
          <div id="thanks_container_left_block" class="column-items-block-stories"></div>
          <div id="thanks_container_right_block" class="column-items-block-stories"></div>
        </div>
        <div id="not-found" style="display: none;font-size: 50px;text-align: center;color: #e8e8e8;">Ксожалению, ничего не найдено</div>

<script>
"use strict"

var tmpContainer = document.getElementById("invisibility_thanks_container");

function moveThanks(fromIndex) {
  var leftBlock = document.getElementById("thanks_container_left_block");
  var rightBlock = document.getElementById("thanks_container_right_block");

  var tmpChildren = tmpContainer.children;

  var secondBlock = leftBlock.parentNode;
  secondBlock.style.display = "block";
  var leftHeight = leftBlock.offsetHeight;
  var rightHeight = rightBlock.offsetHeight;
  secondBlock.style.display = null;
  // secondBlock.style.display = null;
  for (var i = fromIndex; i < tmpChildren.length; i++) {
    var child = tmpChildren[i];
    var post = child.cloneNode(true);
    if (leftHeight <= rightHeight) {
      leftBlock.appendChild(post);
      leftHeight += post.offsetHeight;
    } else {
      rightBlock.appendChild(post);
      rightHeight += post.offsetHeight;
    }
  }
}
moveThanks(0);
</script>
        <div class="button-yet">
          <%=button_tag 'ЗАГРУЗИТЬ ЕЩЕ', name: 'offset', id: 'thanks_offset', value: @thanks.count%>
        </div>
      </div>
    <%end%>
  
  
  </div>
  
  
</content>

<footer>
  <div class="references">
    <a href="http://www.dagminobr.ru/" class="min-obr" target="_blank"><img src="/assets/logo-min-obr.png" /></a>
    <a href="http://www.dagminobr.ru/" class="min-obr" target="_blank"><img src="/assets/rsstudio.png" /></a>
  </div>
</footer>
