<%provide :head do%>
  <%=stylesheet_link_tag 'home'%>
  <%=javascript_include_tag 'home', 'https://cdn.rawgit.com/kofon95/smartuploader/608b195f/jquery.smartuploader.min.js'
  %>
<%end%>
<%=render 'shared/social_networks_buttons'%>



<%= render 'shared/header' %>

<div class="submit-review-to-teacher">
  <div class="panel-submit-review-to-teacher">

    <div id="button-close-panel" class="button-close-panel"><div></div></div>

    <div style="margin: 40px 5% 0; float: left; cursor: pointer; user-select: none; font-family: MProCond; font-size: 18px; font-weight: 400; color: #444444;">Мы просим указать ФИО учителя, которому вы хотите сказать "спасибо", чтобы мы могли связаться с ним и передать вашу благодарность.</div>

    <input id="visitor_name" placeholder="Представьтесь" class="name-peaple" type="text" name="">
    <input id="teacher_name" placeholder="Введите ФИО учителя или учителей" class="name-teacher" type="text" name="">
    <input id="school_name" placeholder="Укажите учебное заведение (например: СОШ №7 г. Кизилюрт)" class="name-school" type="text" name="">
    <textarea id="thank_body" placeholder="Опишите Вашу историю" name="comment" cols="40" rows="3" class="history-teacher"></textarea>
    <div id="dropzone" class="drop-zone">
      <p class="title">Выберите или перетащите сюда изображения</p>
      <div class="preview-container"></div>
    </div>
    <%=file_field_tag :file, data: {url: @s3_direct_post.url, 'form-data' => @s3_direct_post.fields, 'upload-dir' => @s3_dir_name}, id: 'images_attachment', multiple: true, style: 'display: none'%>

    <button id="do_thank_teacher" class="button-to-send" name="ok">Отправить</button>
  </div>
</div>
<div class="post">
  <div class="panel-post">
    <div id="closed-post" class="button-close-panel"><div></div></div>
    <a href="http://спасибоучитель05.рф/thanks/101" class="button-to-post" target="_blank">Страница поста</a>

    <div class="to-whom-block-stories-post">
      <div class="teacher-name-post"></div>
      <div class="school-name-post"></div>
    </div>
    <div class="name-peaple-post"></div>
    <div class="words-container-post"></div>
    <div class="img-post">
    </div>
    <div class="repost-post">
      <div class="title-repost-post">Сделать репост</div>
      <div class="link-repost-post">
        <!-- social buttons -->
        <div id="vk_link_repost" class="vk-link-repost-post"></div>
        <div id="facebook_link_repost" class="face-link-repost-post"></div>
        <div id="twitter_link_repost" class="tw-link-repost-post"></div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>


<content>
  <div class="title-thank-you">Оставьте свою благодарность на нашем сайте. Ваши теплые слова обязательно дойдут до каждого адресата.</div>
  <div class="button-thank-you">ПОБЛАГОДАРИТЬ</div>
  <div class="block-stories">
    <h2 class="title-block-stories">Истории, рассказанные участниками акции "Спасибо, учитель!"</h2>

    <%=form_tag thanks_path, method: 'get', remote: true, data: {count: @thanks.count} do%>
      <div class="filtration-block-stories">
        <input id="thanks_count" type="hidden" name="count" value="<%=HomeController::COUNT_THANKS%>">
        <input id="query_input" placeholder="Введите ФИО учителя или название учебного заведения (например: СОШ №7 г. Кизилюрт)" class="inp-block-stories" type="text" name="q" id="search_thanks">
        <button id="do_search" name="search" style="display:none">Искать</button>
        <div class="counter"><div id="found_thanks_count" class="text-counter"><%=t(:have_said_thanks_html, count: @thanks_count)%></div></div>
      </div>
      
      <div class="items-block-stories">
        <!-- tmp container -->
        <!-- dynamic style: visibility: hidden;position: absolute; -->
        <div id="invisibility_thanks_container" class="one-block-stories" >
          <%=render partial: 'thanks/thank', collection: @thanks, as: :thank %>
        </div>
        <div class="two-blocks-stories">
          <div id="thanks_container_left_block" class="column-items-block-stories"></div>
          <div id="thanks_container_right_block" class="column-items-block-stories"></div>
        </div>
        <div id="not-found" style="display: none;font-size: 50px;text-align: center;color: #e8e8e8;">Ксожалению, ничего не найдено</div>

<script>
"use strict"

var tmpContainer = document.getElementById("invisibility_thanks_container");

function moveThanks(fromIndex) {
  var leftBlock = document.getElementById("thanks_container_left_block");
  var rightBlock = document.getElementById("thanks_container_right_block");

  var tmpChildren = tmpContainer.children;

  var secondBlock = leftBlock.parentNode;
  secondBlock.style.display = "block";
  var leftHeight = leftBlock.offsetHeight;
  var rightHeight = rightBlock.offsetHeight;
  secondBlock.style.display = null;
  // secondBlock.style.display = null;
  for (var i = fromIndex; i < tmpChildren.length; i++) {
    var child = tmpChildren[i];
    var post = child.cloneNode(true);
    if (leftHeight <= rightHeight) {
      leftBlock.appendChild(post);
      leftHeight += post.offsetHeight;
    } else {
      rightBlock.appendChild(post);
      rightHeight += post.offsetHeight;
    }
  }
}
moveThanks(0);
</script>
        <div class="button-yet">
          <%=button_tag 'ЗАГРУЗИТЬ ЕЩЕ', name: 'offset', id: 'thanks_offset', value: @thanks.count%>
        </div>
      </div>
    <%end%>
  
  
  </div>
  
  
</content>


<footer>
  <div class="references">
    <div class="left-footer">
      <a href="http://www.dagminobr.ru/" class="min-obr" target="_blank"><img src="/assets/logo-min-obr.png" /></a>
    </div>
    <div class="right-footer">
      <div class="our-social-networks">
        <div class="title-osn">Соц. сети проекта:</div>
        <div class="link-osn">
          <a class="vk-link-osn" href="https://vk.com/thankteacher" target="_blank"></a>
          <a class="face-link-osn" href="" target="_blank"></a>
          <a class="twit-link-osn" href="" target="_blank"></a>
        </div>
      </div>
      <a href="https://rsstud.com/" class="rsstud" target="_blank"><img src="/assets/rsstudio.png" /></a>
    </div>
  </div>
</footer>
<%= render 'shared/slider' %>
