<div class="item-block-stories">
  <div class="filling-item-block-stories">
    <div class="to-whom-block-stories">
      <span class="teacher-block-stories"><%=thank.teacher_name%></span>
      <span class="school-block-stories"><%=thank.school_name%></span>
    </div>
    <%="id = #{thank.id}" if Rails.env.development?%>
    <div class="from-whom-block-stories">от <%=thank.visitor_name%></div>
    
    <div class="text-block-stories"><%=thank.body%></div>
  </div>
</div>
