<div class="item-block-stories">
  <div class="filling-item-block-stories">
    <div class="to-whom-block-stories">
      <span class="teacher-block-stories"><%=thank.teacher_name%></span>
      <span class="school-block-stories"><%=thank.school_name%></span>
    </div>
    <%="id = #{thank.id}" if Rails.env.development?%>
    <div class="from-whom-block-stories">от <%=thank.visitor_name%></div>
    
    <div class="text-block-stories"><%=thank.body%></div>
    <div class="thanks-images">
      <%thank.image_urls.each do |src|%>
        <%=image_tag src%>
      <%end%>
    </div>
  </div>
  <div style="margin-top: 10px;">
    <%shared_url = thank_url thank%>
    <script>vkButton("<%=shared_url%>")</script>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%=CGI.escape(shared_url)%>&layout=button_count&size=small&mobile_iframe=true&appId=843861579121790&width=105&height=20" width="105" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet" data-url="<%=shared_url%>">Tweet</a>
  </div>
</div>
