<%provide :head do%>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <%=stylesheet_link_tag 'admin'%>
  <%#=javascript_include_tag 'angular'%>
  <%=javascript_include_tag 'thanks-admin'%>
<%end%>
<%provide :ngController, 'ng-controller="ThanksCtrl"'.html_safe%>

<header>
  <a href="/" class="logo"><img src="/assets/logo4.png" /></a>
  
  <ul class="menu">
    <li>
      <label for="show_all" ng-class="{active: publishing_filter == ''}"><span>Все({{totalPublishedThanks + totalUnpublishedThanks}})</span></label>
      <input id="show_all" type="radio" ng-model="publishing_filter" value="">
    </li>
    <li>
      <label for="show_only_published" ng-class="{active: publishing_filter == 'true'}"><span>Опубликованные({{totalPublishedThanks}})</span></label>
      <input id="show_only_published" type="radio" ng-model="publishing_filter" value="true">
    </li>
    <li>
      <label for="show_only_unpublished" ng-class="{active: publishing_filter == 'false'}"><span>На расмотрение({{totalUnpublishedThanks}})</span></label>
      <input id="show_only_unpublished" type="radio" ng-model="publishing_filter" value="false">
    </li>
  </ul>

    <%=link_to 'Выход', admin_path, method: :delete, class: 'button-exit'%>
</header>


<content>
  <input type="hidden" id="auth_token" value="<%=form_authenticity_token%>">
  <input type="hidden" id="total_published_thanks" value="<%=@publications_count[:published]%>">
  <input type="hidden" id="total_unpublished_thanks" value="<%=@publications_count[:unpublished]%>">
  
  <div class="filtration-block-stories">
    <input ng-model="searchText" placeholder="Введите ФИО учителя или название учебного заведения (например: СОШ №7 г. Кизилюрт)" class="inp-search" type="text" name="search" id="inp-search">
      
    <div class="counter"><div class="text-counter">{{thanks.length}} записей из {{totalPublishedThanks + totalUnpublishedThanks}}</div></div>
  </div>
  
  <div class="items-posts">
    <div ng-class="thank.published
                   ? (thank.isLoading ? 'published loading' : 'published')
                   : (thank.isLoading ? 'unpublished loading' : 'unpublished')"
     class="item-post" ng-repeat="thank in thanks | filter:searchText | filter:{published: publishing_filter}">
    
      <input placeholder="ФИО отправителя" class="name-peaple" type="text" ng-model="thank.visitor_name">
      <input placeholder="ФИО учителя или учителей" class="name-teacher" type="text" ng-model="thank.teacher_name">
      <input placeholder="Учебное заведение (например: СОШ №7 г. Кизилюрт)" class="name-school" type="text" ng-model="thank.school_name">
      
      <textarea placeholder="История" cols="40" rows="3" class="history-teacher" data="elastic" ng-model="thank.body"></textarea>
      <div class="thanks-images"><img ng-repeat="image in thank.image_urls" ng-src="{{image}}"></div>
        
      <button ng-if="!thank.published" class="button-to-send" ng-click="saveThankWithPublish($index, true)" >Сохранить и опубликовать</button>
      <button ng-if="thank.published" class="button-to-send" ng-click="saveThankWithPublish($index, false)" >Сохранить и убрать с публикации</button>
      <button ng-if="thank.published" class="button-to-send" ng-click="saveThank(thank)" >Сохранить</button>
      <button class="botton-del" ng-click="removeThank($index)" >Удалить</button>
    </div>
  </div>
  
  <div class="button-yet"><button ng-click="loadThanks(10)">ЗАГРУЗИТЬ ЕЩЕ</button></div>

</content>

<footer>
  <div class="references">
    <a href="http://www.dagminobr.ru/" class="min-obr" target="_blank"><img src="/assets/rsstudio.png" /></a>
    <div class="rsstudio"><span>По всем вопросам обращайтесь на почту </span><a href="mailto:live.books@mail.ru">live.books@mail.ru</a></div>
    <div class="rsstudio"><span>или по номеру +7 918 730 10 05</span></div>
  </div>
</footer>
